/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Stylesn this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.header-logo{
  color: black;
  font-size: 30px;
}

.nav-item{
  color: black;
  padding-right: 30px;
}

.navbar{
  padding: 50px;
  font-size: 30px;
}

.user-body{
  text-align: center;
  font-size: 40px;
}

.user-td{
  padding: 30px;
}

.head{
  font-size: 40px;
  text-align: center;
}

.top-head{
  text-align: center;
}

.top-p{
  text-align: center;
}

.container{
  margin-right: 600px;
}


.right-sidebar{
  text-align: right;
}

